.graphGrid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0%;
    margin-left: 10%;
    margin-right: 10%;
}

.graph {
  width: 30%;
} 

@media (max-width: 900px) {
  .graphGrid {
    flex-direction: column;
  }
  .graph {
    width: 100%;
  }
} 
